@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --primary-color:#1F2B6C;
    --light-primary-color:#BFD2F8;
    --accent-color:#249CDE;
    --black-color:#1e1e1e;
    --accent-main-color:#FFDD1C;
}

.layout {
    @apply max-w-[1280px] lg:max-w-7xl mx-auto;
}
  
.component-padding {
    @apply lg:py-[80px] py-[50px] lg:px-4 px-6 ;
}
.black-color{
    color:var(--black-color);
}
.react-multi-carousel-dot--active button {
    
    background-color: var(--primary-color) !important;
   
}
  
  .react-multi-carousel-dot button {
   background-color: white;
  }
  