@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary-color: #1f2b6c;
  --light-primary-color: #bfd2f8;
  --accent-color: #249cde;
  --black-color: #1e1e1e;
  --accent-main-color: #ffdd1c;
}

.layout {
  @apply max-w-[1280px] lg:max-w-7xl mx-auto;
}

.component-padding {
  @apply lg:py-[80px] py-[50px] lg:px-4 px-6;
}

.custom-scrollbar-dropdown {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0.1);
}
.custom-scrollbar-dropdown::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform-origin: 50% 116.5%;
  animation: l17 2s infinite linear;
  animation: l17 2s infinite linear;
}
.loader:before {
  content: "";
  content: "";
  min-width: 233%;
  height: 233%;
  background: radial-gradient(farthest-side, #1f2b6c 90%, #0000) top,
    radial-gradient(farthest-side, #bfd2f8 90%, #0000) left,
    radial-gradient(farthest-side, #ffdd1c 90%, #0000) bottom,
    radial-gradient(farthest-side, #bfd2f8 90%, #0000) right;
  background: radial-gradient(farthest-side, #1f2b6c 90%, #0000) top,
    radial-gradient(farthest-side, #bfd2f8 90%, #0000) left,
    radial-gradient(farthest-side, #ffdd1c 90%, #0000) bottom,
    radial-gradient(farthest-side, #bfd2f8 90%, #0000) right;
  background-size: 43% 43%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-direction: reverse;
}
@keyframes l17 {
  100% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-tabs {
  border: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.html-wrapper h3 {
  font-size: 16px !important ;
  font-weight: bold !important;
}

.black-color {
  color: var(--black-color);
}
.react-multi-carousel-dot--active button {
  background-color: var(--primary-color) !important;
}

.react-multi-carousel-dot button {
  background-color: white;
}

/* form label  */
.form-label {
  @apply text-[16px] font-medium;
}
.form-gap {
  @apply flex flex-col gap-4;
}

ol,
ul {
  list-style: revert;
  list-style-type: inherit;
  padding: 24px;
}

.react-multiple-carousel__arrow {
  z-index: auto !important;
}

.pagination li {
  list-style-type: none !important;
}

.ant-dropdown-menu-submenu {
  list-style: none;
  list-style-type: none;
}

.ant-modal-content {
  padding: 0 !important;
}
.ant-modal .ant-modal-content {
  padding: 1px !important;
  background-color: transparent;
}

.ant-modal-close-x {
  background-color: white;
}

.react-multi-carousel-item {
  list-style-type: none;
}

.ant-modal-close {
  top: -40px !important;
}

/* table */
table {
  border: 1px solid #000;
}

table tr {
  border: 1px solid #000;
}

table tr td {
  border: 1px solid #000;
}
